body, p, h1, h2, h3, h4, table, td, th, ul, ol, textarea, input {
font-family: helvetica,verdana,arial,sans-serif;
}
body {
  background: url(textture-noise.png);
  overflow: hidden;
  margin: 0;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica;
}

.wrapper
{
    position: fixed;
	width:100%;
	margin: 1em;
	overflow: auto;
}
#col 
{
	width:70%;
	
}
table#userMeetings, table#roomSchedule, table#conferenceRooms, th, td
{
	margin:0;
	border: solid black 1px;
	text-align: center;
}

#bookAMeeting
{
	margin: 2px;
	
}
.blabel{
	width:10em;
	text-align:right;
	display:inline-block;
	margin-right:1em;
}
.availRooms
{
    margin-right: 100px;
	float:right;
	text-align: left;
	width: 30%;
	
}
.meetings
{
	float:left;
	width:50%;
}

#loginButton, #logoutButton
{
    margin-right: 100px;
	float:right;
	text-align: left;
	width: 30%;
}
#addUser
{
    margin-right: 200px;
	float:right;
	text-align: left;
	width: 30%;
}